<h1 class="mb-5">編輯個人資料:</h1>

<div class="mb-3 bt-3">
  <form id="avatar-form" action="/users/{{loginUser.id}}?_method=PUT" method="post" enctype="multipart/form-data">
    <div class="mb-5">
      <label class="form-label" for="">
        頭像:
        <input class="form-control" type="file" id="file" name="image" accept="image/*">
      </label>
    </div>
    <button class="btn  btn-warning" type="submit">更改頭像</button>
  </form>
</div>



<form action="/users/{{loginUser.id}}?_method=PUT" method="post" enctype="multipart/form-data">
  <div class="mb-5">
    <label class="form-label" for="">
      信箱:
      <input class="form-control" type="text" name="email" value="{{loginUser.email}}">
    </label>
  </div>

  <div class="mb-5">
    <label class="form-label" for="">
      名稱:
      <input class="form-control" type="text" name="name" value="{{loginUser.name}}">
    </label>
  </div>

  <div class="mb-5">
    <label class="form-label" for="">
      個人描述:
      <textarea class="form-control" name="introduction" rows="10" cols="80">{{loginUser.introduction}}</textarea>
    </label>
  </div>

  <div class="mb-5">
    <label class="form-label" for="">
      密碼:
      <input class="form-control" type="text" name="password">
    </label>
  </div>

  <div class="mb-5">
    <label class="form-label" for="">
      確認密碼:
      <input class="form-control" type="text" name="confirmPassword">
    </label>
  </div>

  <div class="mb-5">
    <button class="btn btn-warning" type="submit">編輯</button>
    <button class="btn btn-secondary" type="reset" value="Reset">重設
  </div>

</form>

<p id="token" style="display:none">{{token}}</p>
<p id="user-id" style="display:none">{{loginUser.id}}</p>

<script>
  const API_URL = 'http://localhost:3000/api/users/'
  const token = document.querySelector('#token').innerText
  const userId = document.querySelector('#user-id').innerText
  console.log(token, userId)
  const avatarForm = document.querySelector('#avatar-form')
  avatarForm.addEventListener('submit', function (event) {
    event.preventDefault()
    event.stopPropagation()
    let formData = new FormData()
    let imageFile = document.querySelector('#file').files[0]
    formData.append('image', imageFile)
    return axios.put(API_URL+userId, formData, { // 網址
      headers: {
        Authorization: `Bearer ${token}`
      }
    }).then(function (response) {
        return avatarForm.submit()
    }).catch(function (error) {
      console.log(error)
      return alert('上傳失敗 ， 請檢查檔案格式是否為jpg,jpeg,png')
    })
  })
</script>