<div class="m-5">

  <h2>
    預約成功 ! 
  </h2>

  <div class="mt-5 mb-3">
    <div class="card card-body mb-5">
      時間 : {{TSTTime lesson.daytime}}
    </div>

    <div class="card card-body mb-5">
      時長 : {{ lesson.duration}} 分鐘
    </div>

    <div class="card card-body mb-5">
      老師 : {{lesson.Teacher.User.name}}
    </div>

    <div class="card card-body mb-5">
      上課連結: {{lesson.Teacher.courseUrl}}
    </div>

    <a href="/teachers/{{lesson.Teacher.id}}">
      <button class="btn btn-primary">
        返回教師頁面
      </button>
    </a>

  </div>
</div>